{% comment %}Kontaktkorten på kontaktsidan. data: cards[{kicker,value,url}].{% endcomment %}
{% if cards %}
<div class="wrap">
    <div class="contact-grid">
        {% for card in cards %}
        <div class="contact-card panel">
            <div class="kicker">[ {{ card.kicker }} ]</div>
            {% if card.url %}<a class="big" href="{{ card.url }}">{{ card.value }}</a>{% else %}<div class="big">{{ card.value }}</div>{% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
